* {
  box-sizing: border-box;
  width: auto; }

html {
  padding-left: 10px; }

#logo {
  color: #F3641F;
  font-size: 45px;
  font-family: 'Rasa', serif;
  margin-right: 15px;
  margin-top: 5px; }

#searchbox {
  margin-bottom: 30px; }

#searchbutton {
  background-color: #43B1C9;
  border-style: none;
  height: 33px;
  width: 80px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #3598B0; }

#searchinput {
  height: 35px;
  width: 370px;
  padding: 4px;
  font-size: 14px;
  margin-right: -7px; }

#useroptions {
  margin-top: -75px;
  float: right;
  display: inline; }

#searchbar {
  margin: 20px;
  height: 40px; }

.userlinks {
  margin: 10px; }

#cart {
  border-left: 1px solid grey; }

.maincontainer {
  border: 1px solid black;
  height: 1000px;
  padding-top: 10px;
  padding-right: 20px; }
  .maincontainer .sidebar {
    margin-left: 25px;
    width: 240px;
    float: left;
    border: 1px solid blue; }
  .maincontainer .resultcolumn {
    border: 1px solid red;
    height: 900px;
    width: 80%;
    clear: none;
    float: right;
    padding-left: 5px; }
    .maincontainer .resultcolumn header a {
      text-decoration: none; }

.resultcategories {
  margin-top: 10px;
  list-style: none;
  border: 1px solid black;
  height: 410px;
  width: 230px;
  padding: 10px; }
  .resultcategories li {
    margin: 5px;
    margin-bottom: 8px; }
    .resultcategories li a {
      margin: 5px;
      text-decoration: none;
      color: #1692B3; }

.navcategories {
  clear: right;
  margin: 15px auto;
  padding-left: 20px; }

.navcat {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: grey; }

.subscribe {
  margin: auto;
  width: 50%;
  margin-top: 30px;
  padding-left: 30px; }
  .subscribe #toptrends {
    margin-left: 50px; }

.emailbox {
  margin: auto;
  margin-top: 30px;
  width: 50%; }
  .emailbox button a {
    text-decoration: none; }

.resultbox {
  height: 245px;
  width: 245px;
  border: 1px solid grey;
  margin: 10px;
  float: left; }
